---
import Layout from "../../layouts/Layout.astro";

import Image from "astro/components/Image.astro";
import { getCollection, getEntry } from "astro:content";
import { getEntryBySlug } from "astro:content";
import HeroPostSingle from "../../components/heroes/HeroPostSingle.astro";


export async function getStaticPaths() {
  const landing = await getCollection('blogPosts');
  return landing.map((a) => {
    return {
      params: { slug: a.slug },
      props: a,
    }
  })
} 

const { slug } = Astro.params;
const post = await getEntryBySlug("blogPosts", slug as string);

if ( !post ) {
  return Astro.redirect('/404');
}

const {Content} = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.blurb}
  og_image={post.data.image}
>

  <HeroPostSingle 
    h1={post.data.title}
    image={post.data.image}
    image_alt={post.data.title}
    p1={post.data.client}
    liveUrl={post.data.url}
  />

      
      <section class="py-16">
        <div class="description">
          <div class="content-grid">
            <div class="text-block">
              <!-- <h2>{post.data.title}</h2>
              <div class="hr-div"></div>
              <p>{post.data.blurb}</p> -->
              { Content &&
                <div class="post-content">
                  <Content />
                </div>
              }
            </div>
            <div class="sidebar">
              <h3>Tags</h3>
              <div class="hr-div"></div>
              <p>{post.data.tags}</p>
            </div>
          </div>
        </div>
      </section>

</Layout>

<style lang="scss">
  .description {
    padding-block: 0rem;
    max-width: 80rem;
  }
  .content-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    
    @media screen and (min-width: 768px) {
      grid-template-columns: 2fr 1fr;
    }

    @media screen and (min-width: 992px) {
      gap: 4rem;
      grid-template-columns: 2fr 1fr;
    }
  }
  .sidebar {
    display: flex;
    flex-direction: column;
  }
  .post-content {
    p {
      font-size: var(--font-body-lg);
      font-weight: 900;
    }
  }
</style>
