---
import {type CollectionEntry, getEntryBySlug} from "astro:content"
import {Image} from "astro:assets"
import {Icon} from "astro-icon/components";
import Button from '../components/Button.astro';

type Props = {
    post: CollectionEntry<"blogPosts">
}

const {post} = Astro.props
---

<article class="blog-card" onclick={`window.location="/blog/${post.slug}";`}>
    <div class="blog-card__inner">
      <a
          href={`/blog/${post.slug}`}
          aria-label={`Read more about ${post.data.title}`}
      >
          <Image
              src={post.data.image}
              alt={post.data.title}
              width={600}
              height={600 / 1.5}
              format="avif"
          />
      </a>
      <div class="launch-icon">
        { post.data.url ? <a
          href={post.data.url}
          target="_blank"
          aria-label={`Read more about ${post.data.title}`}
      ><Icon name="new-window" /></a> : <span>&nbsp;</span> }
      </div>
    </div>
      
    <div class="blog-card__label">
      <h3 class=""><a href={`/blog/${post.slug}`}>{post.data.title}</a></h3>
      
      <p class="text-overflow">{post.data.blurb}</p>
      <p class="text-overflow tech one-line">{post.data.tags}</p>
        <Button href={`/blog/${post.slug}`} text="Read more" color="secondary" classes="mt-3" />
    </div>
</article>

