---
import {type CollectionEntry, getEntryBySlug} from "astro:content"
import {Image} from "astro:assets"
import {Icon} from "astro-icon/components";
import Button from '../components/Button.astro';

type Props = {
    work: CollectionEntry<"works">
}

const {work} = Astro.props
---

<article class="collection-card__featured" onclick={`window.location="/work/${work.slug}";`}>
    <div class="collection-card__featured__inner">
      <a
          href={`/work/${work.slug}`}
          aria-label={`Read more about ${work.data.title}`}
      >
          <Image
              src={work.data.image}
              alt={work.data.title}
              width={1200}
              height={1200 / 1.5}
              format="avif"
          />
      </a>
      <div class="launch-icon">
        { work.data.url ? <a
          href={work.data.url}
          target="_blank"
          aria-label={`Read more about ${work.data.title}`}
      ><Icon name="new-window" /></a> : <span>&nbsp;</span> }
      </div>
      <div class="text-block">
        <h3 class="one-line"><a href={`/work/${work.slug}`}>{work.data.title}</a></h3>
        
        <p class="text-overflow">{work.data.blurb}</p>
        <p class="text-overflow tech one-line">{work.data.tech}</p>
      </div>
      <!-- <p class="one-line"><a href={`/work/${work.slug}`}>{work.data.client}</a></p> -->
      <div>
        <Button
        href={`/work/${work.slug}`}
        text={work.data.client}
        />
      </div>
    </div>
</article>

