---
const { title, description, og_image, og_url } = Astro.props;
---

  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="canonical" href={og_url} />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta name="color-scheme" content="dark light" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={og_image} />
    <meta property="og:url" content={og_url} />
  </head>
