---
import { actions, isInputError } from "astro:actions";

const result = Astro.getActionResult(actions.send);
if (result?.data) {

  window.location.href = '/success';
  // return Astro.redirect("/success");
}

console.log(result?.data);

const inputErrors = isInputError(result?.error) ? result.error.fields : {};
---

{result && !result.error && (
  <p class="success">Success: {result.data}</p>
)}

  <!-- Contact section -->
    <section id="contact">
      <div class="contact-wrapper">
        <div>
          <!-- Contact text -->
          <h2>Get in touch.</h2>
          <div class="hr-div"></div>
          <p class="subheading">
            I'm ready to join your team! Send me a message if you think we'd be a great fit! 
          </p>
        </div>

        <!-- Contact form -->
        <div>
          <form action={actions.send} method="post">
            <label
              >Username<input
                type="text"
                name="username"
                placeholder="Username"
                required
                aria-describedby={inputErrors.username ? "username-error" : undefined}
              />
            </label>
            {
              inputErrors.username && (
                <p id="username-error">{inputErrors.username[0]}</p>
              )
            }
            <label
              >Email<input
                type="email"
                name="email"
                placeholder="Email"
                required
                aria-describedby={inputErrors.email ? "email-error" : undefined}
              />
            </label>
            {inputErrors.email && <p id="email-error">{inputErrors.email[0]}</p>}
            <button>Send</button>
          </form>
    
          <!-- <form name="contact-form" id="contact-form" action={actions.send} method="POST">
            <input type="hidden" name="access_key" value="a11bce5f-44db-4845-b3d7-74506ba572a8">
            <input type="hidden" name="redirect" value="https://nickbravo.dev/success"> -->

            <!-- Name input -->

            <!-- <div>
              <label class="form-label sr-only" for="name">Name</label>
              <input class="form-control" type="text" id="name" name="name" placeholder="Name" required />
            </div> -->

            <!-- Email input -->
             
            <!-- <div>
              <label class="form-label sr-only" for="email">Email</label>
              <input class="form-control" type="email" id="email" name="email" placeholder="Email" required />
            </div> -->

            <!-- Message input -->

            <!-- <div>
              <label class="form-label sr-only" for="description">Message</label>
              <textarea class="form-control" rows="3" id="description" name="message" placeholder="Type your message here" required></textarea>
            </div> -->

            <!-- Submit button -->

            <!-- <div class="h-captcha"
              data-captcha="true"
              data-theme="dark">
            </div>
            <div>
              <button class="outline" type="submit">Send message</button>
            </div>
          </form> -->
        </div>
        
      </div>
    </section>

    <!-- <script src="https://web3forms.com/client/script.js" async defer></script> -->

    <!-- <script is:inline>
      const form = document.getElementById('contact-form');

      form.addEventListener('submit', function(e) {

          const hCaptcha = form.querySelector('textarea[name=h-captcha-response]').value;

          if (!hCaptcha) {
              e.preventDefault();
              alert("Please fill out captcha field")
              return
          }
      });
    </script> -->

    <style lang="scss">
      .contact-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 3rem;
        margin-block-start: 8rem;
        
        @media screen and (min-width: 768px) {
          grid-template-columns: 1fr 1fr;
        }
        
        @media screen and (min-width: 992px) {
          grid-template-columns: 1fr 1fr;
          gap: 4rem;
        }
      }
    </style>