---
import { actions, isInputError } from "astro:actions";

const result = Astro.getActionResult(actions.send);
if (result?.data) {
  return Astro.redirect("/success");
}

console.log(result?.data);

const inputErrors = isInputError(result?.error) ? result.error.fields : {};
---

{result && !result.error && (
  <p class="success">Success: {result.data}</p>
)}

  <!-- Contact section -->
    <section id="contact">
      <div class="contact-wrapper">
        <div>
          <!-- Contact text -->
          <h2>Get in touch.</h2>
          <div class="hr-div"></div>
          <p class="subheading">
            I'm ready to join your team! Send me a message if you think we'd be a great fit! 
          </p>
        </div>

        <!-- Contact form -->
        <div>
          <form action={actions.send} method="post">

            <div>
              <label class="form-label sr-only" for="name">Name</label>
              <input class="form-control" type="text" id="name" name="name" placeholder="Name" required aria-describedby={inputErrors.name ? "name-error" : undefined} />
            </div>
            {
              inputErrors.name && (
                <p id="name-error">{inputErrors.name[0]}</p>
              )
            }
            <div>
              <label class="form-label sr-only" for="email">Email</label>
              <input class="form-control" type="email" id="email" name="email" placeholder="Email" required aria-describedby={inputErrors.email ? "email-error" : undefined} />
            </div>
            {inputErrors.email && <p id="email-error">{inputErrors.email[0]}</p>}
            <div>
              <label class="form-label sr-only" for="description">Message</label>
              <textarea class="form-control" rows="3" id="description" name="message" placeholder="Type your message here" required></textarea>
            </div>
            {inputErrors.message && <p id="message-error">{inputErrors.message[0]}</p>}
            <div><button>Send message</button></div>
          </form>
    
          <!-- <form name="contact-form" id="contact-form" action={actions.send} method="POST">
            <input type="hidden" name="access_key" value="a11bce5f-44db-4845-b3d7-74506ba572a8">
            <input type="hidden" name="redirect" value="https://nickbravo.dev/success"> -->

            <!-- Name input -->

            <!-- <div>
              <label class="form-label sr-only" for="name">Name</label>
              <input class="form-control" type="text" id="name" name="name" placeholder="Name" required />
            </div> -->

            <!-- Email input -->
             
            <!-- <div>
              <label class="form-label sr-only" for="email">Email</label>
              <input class="form-control" type="email" id="email" name="email" placeholder="Email" required />
            </div> -->

            <!-- Message input -->

            <!-- <div>
              <label class="form-label sr-only" for="description">Message</label>
              <textarea class="form-control" rows="3" id="description" name="message" placeholder="Type your message here" required></textarea>
            </div> -->

            <!-- Submit button -->

            <!-- <div class="h-captcha"
              data-captcha="true"
              data-theme="dark">
            </div>
            <div>
              <button class="outline" type="submit">Send message</button>
            </div>
          </form> -->
        </div>
        
      </div>
    </section>

<script is:inline>
  "use strict";

  // Form validation
  (function () {
    const forms = document.querySelectorAll(".needs-validation");
    Array.from(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          } else if (form.checkValidity() == true) {
            event.preventDefault();
            form.submit();
          }
          form.classList.add("was-validated");
        },
        false
      );
    });
  })();

  const success = () => {
    if (window.location.href.indexOf("?_action=send") != -1) {
      window.location.href = "/success";
    }
  }

  success();
</script>

<style lang="scss">
  .contact-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3rem;
    margin-block-start: 8rem;
    
    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
    
    @media screen and (min-width: 992px) {
      grid-template-columns: 1fr 1fr;
      gap: 4rem;
    }
  }
</style>